*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
background-color: black;
}
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:26px 56px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
header a.logo{
  display: block;
}
header .logo svg{
  color: rgb(229,9,20);
  fill: currentColor;
  height: 40px;
  margin-top: 5px;
  margin-left: 100px;
}
header div+div{
  text-align: right;
}
header a.button{
  background-color: rgb(229,9,20);
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 6px 17px;
  text-decoration: none;
  font-weight: bold;
}
header select{
  background-color: rgba(23, 23, 23, 0.8);
  color: white;
  padding: 6px 0 6px 35px;
  padding-left: 30px;
  border-radius: 3px;
  font: 1em sans-serif;

}
header div.select svg {
height: 20px;
color: white;
position:absolute;
margin-top: 7px;
margin-left: 0px;
padding-left: 5px;

}
header div.select{
 margin-right: 30px;
  display: inline-block;
}
div.splash div.background{
  position: relative;
}

div.splash div.gradient{
position: absolute;
inset: 0;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

div.splash div.background img{
  max-width: 100%;
  opacity: 0.6;
}
div.splash div.content{
  max-width: 1000px;
  left:50%;
  margin-left:18rem;
  position: absolute;
  inset: 0;
  display: grid;
  align-items: center;
  color: white;
  text-align: center; 
  top:12%;
}

div.splash h1{
  font-size: 3rem;
  font-weight: 900;
}
div.splash h2{
  font-size: 1.625rem;
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 29px;
}
div.splash h3{
  font-size: 1.3rem;
  font-weight: normal;
}
div.cta form{
display: flex;
justify-content: center;
margin-top:20px; 
margin-left: 1rem;

}
div.cta input{
width: 26rem;
  padding: 14px;
  font-size: 1.2rem;
  background-color: rgba(23, 23, 23, 0.8);
}
div.cta input ~ span{
  position:absolute;
  left:15rem;
  top:23.6rem;
  z-index: 3;
  color: white;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}

div.cta input:focus ~ span{
  font-size: 0.8rem;
}
div.cta button{
  background-color: rgb(229,9,20);
margin-left:1rem;
  border-radius: 3px;
  color: white;
  padding: 14px 17px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;  
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:46px;
  padding: 70px 40px ;
  border-top: 8px solid #333;
  
  
}
section div.texts h1{
  font-size: 3rem;
  color: white;
 font-weight: 900;
 margin-left: 5rem;
  margin-top: 8rem;

}
section div.texts p{
  font-size: 1.625rem;
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 29px;
  color: white;
  margin-left: 5rem;

}
.media{
  position: relative;
 margin-top: 2rem;
 margin-right: 4rem;

}
.media.s1 img{
  width:500px;
}
.media.s1 video{
  width:359px;
  position: absolute;
  left:4.4rem;
  top:5rem; 
}
section:nth-child(even) div.texts{
  order:2;
  margin-right: 2rem; 
  margin-top: 4rem;
}

section div.download{
  border:2px solid #666;
  border-radius:15px;
  padding: 10px;
  height:90px;
  width:20rem;
  z-index: 3;
  top: 20%;
  margin-left: 25%; 
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}
section div.download img{
padding: 5px;
height:60px;
width:auto;
}
section div.download span{
color:white;
display:flex;
margin-left:2rem;
margin-top: 1.3rem;
}
.media.s3 img{
  width:550px;
  margin-top: 1rem;
  position: relative;
  z-index: 5;
}
.media.s3 video{
  width:350px;
  position: absolute;
  left:6rem;
  margin-top: 3rem; 
}
.media.s4 img{
  width:600px;
  margin-top: -1rem;
  margin-left: 5rem;
  position: relative;
}
section.last{
  border-bottom: 8px solid #333;
}
div.faq{
  padding:70px 30px;
  color: white;
  text-align: center;
}
div.fav h1{
  font-size:3.125rem;
  text-align: center;
 
}
div.questions{
  max-width:1000px;
  margin:0 auto;
  
}
div.question{
  position: relative;
  color: white;
  background-color: #303030;
  margin-top: 1.5rem;
}
div .header:hover{
  background-color: #555555;
}

div.question .header{
  display: block;
  padding:20px 30px;
  margin-top: -1rem;
  font-weight: 900px;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  cursor: pointer;
  text-align: left;
}

div.question div.answer{
  padding-left:2rem;
  padding-top:1rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  text-align: left;
  padding: 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}
div.question  svg{
  margin-left: 25rem;
  width: 1rem;
  margin-top: 4px;
  position: absolute;
  transform: rotate(45deg);
  transition: all 0.2s ease;
  right: 6%;
}
div.question input[type="checkbox"]{
  display: none;
}
div.question input[type="checkbox"]:checked ~ div.answer{
  padding: 0 30px ;
  padding-bottom: 20px;
  padding-top: 20px;
  max-height: 600px;
}
div.question input[type="checkbox"]:checked ~ .header svg{
transform:rotate(180deg);
}
div.faq h3{
  margin-top: 3rem;
  font-weight: normal;
  text-align: center;
}
div.faq form{
  border-bottom: 8px solid #333;
margin-left: -2rem;
margin-right: -2rem;
  padding-bottom: 5rem;
  
}
div.faq input{
  width: 26rem;
    padding: 14px;
    font-size: 1.2rem;
    background-color: rgba(23, 23, 23, 0.8);
  }
  div.faq input ~ span{
    position:absolute;
    left:15rem;
    top:23.6rem;
    z-index: 3;
    color: white;
    transition: all 0.15s ease-in-out;
    pointer-events: none;
  }
  
  div.faq input:focus ~ span{
  
    font-size: 0.8rem;
  }
  div.faq button{
    background-color: rgb(229,9,20);
  margin-left:1rem;
    border-radius: 3px;
    color: white;
    padding: 14px 17px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;  
  }
 
.footer h2{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: -55rem;
}
.footer span{

  text-decoration: underline;
}
.footer .col{
  width: 25%;
 padding-left: 11rem;
 padding-top: 3rem;
  float: left;
  box-sizing: border-box;
  text-decoration: underline;
  text-align: left;
  padding-bottom: 2rem;
}
.footer .col a{
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
footer select{
  background-color: rgba(23, 23, 23, 0.8);
  color: white;
  padding: 6px 0 6px 35px;
  padding-left: 30px;
  border-radius: 3px;
  font: 1em sans-serif;
}
footer div.select svg {
  height: 20px;
  color: white;
  position:absolute;
  margin-top: 7px;
  margin-left: 0px;
  padding-left: 5px;
  }
footer div.select{
 margin-right: 30px;
  display: inline-block;
  margin-left: -130rem;
  margin-top: 14rem;
}
h5{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: -64rem;
}








